<div class="sidebar">
    <div class="list-group">
        <a href="{{ path('deepmikoto_admin_coding_primary_block') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_coding_primary_block' %}active{% endif %}">
            <i class="glyphicon glyphicon-blackboard"></i> Primary block
        </a>
        <a href="{{ path('deepmikoto_admin_coding_categories') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_coding_categories' or
        app.request.get('_route') == 'deepmikoto_admin_coding_add_category' or app.request.get('_route') == 'deepmikoto_admin_coding_edit_category'%}active{% endif %}">
            <i class="glyphicon glyphicon-th"></i> Categories
        </a>
        <a href="{{ path('deepmikoto_admin_coding_new_post') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_coding_new_post' %}active{% endif %}">
            <i class="glyphicon glyphicon-pencil"></i> New post
        </a>
        <a href="{{ path('deepmikoto_admin_coding_submitted_posts') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_coding_submitted_posts' %}active{% endif %}">
            <i class="glyphicon glyphicon-envelope"></i> Submitted posts
        </a>
        <a href="{{ path('deepmikoto_admin_coding_drafted_posts') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_coding_drafted_posts' %}active{% endif %}">
            <i class="glyphicon glyphicon-folder-open"></i> Drafted posts
        </a>
        <a href="{{ path('deepmikoto_admin_coding_demo_pages') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_coding_demo_pages' %}active{% endif %}">
            <i class="glyphicon glyphicon-blackboard"></i> Demo pages
        </a>
        <a href="{{ path('deepmikoto_admin_coding_new_demo_page') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_coding_new_demo_page' %}active{% endif %}">
            <i class="glyphicon glyphicon-blackboard"></i> New demo page
        </a>
    </div>
</div>
