{% spaceless %}
    <div class="header">
        <h3 class="title"><%=title%></h3>
        <div class="date-and-location">
            <span class="date"><i class="glyphicon glyphicon-calendar"></i> <%=date%></span>
            <span class="location">
                <a href="http://maps.google.com/maps?&q=<%=location%>" target="_blank" title="view on Google Maps">
                    <i class="glyphicon glyphicon-new-window"></i>&nbsp;<%=location%>
                </a>
            </span>
            <div class="fb-share-button" data-layout="button_count"></div>
        </div>
    </div>
    <div class="body">
        <div class="photos">
            <% _.each( photos, function( photo ) { %>
            <div class="photo">
                <div class="image col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <a href="{{ '<%=photo.url%>' }}" data-lightbox="<%=id%>">
                        <img src="{{ '<%=photo.url%>' }}" alt="{{ '<%=photo.altText%>' }}"  />
                    </a>
                </div>
                <div class="image-stats col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <h4>Details</h4>
                    <table class="table">
                        <tr>
                            <td>resolution</td>
                            <td><%=photo.resolution%></td>
                        </tr>
                        <tr>
                            <td>camera</td>
                            <td><%=photo.camera%></td>
                        </tr>
                        <tr>
                            <td>exposure</td>
                            <td><%=photo.exposure%></td>
                        </tr>
                        <tr>
                            <td>iso</td>
                            <td><%=photo.iso%></td>
                        </tr>
                        <tr>
                            <td>aperture</td>
                            <td><%=photo.aperture%></td>
                        </tr>
                        <tr>
                            <td>focal length</td>
                            <td><%=photo.focalLength%></td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div class="image-actions">
                    <ul>
                        <li class="downloads">
                            <a href="{{ '<%=photo.downLink%>' }}">Download</a>
                            <span title="downloads so far"><i class="glyphicon glyphicon-download"></i> <%=photo.downloads%></span>
                        </li>
                    </ul>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <div class="fb-comments" data-width="100%" data-colorscheme="dark" data-href="{{ url('deepmikoto_app_homepage') }}photography/<%=id%>--<%=slug%>" data-version="v2.3"></div>
{% endspaceless %}