{% spaceless %}
    <div class="title">{{ title }}</div>
    <div class="items">
        <ul class="media-list">
            {% for item in items %}
                <li class="media">
                    <div class="media-left">
                        <a href="{{ item.link }}" class="item-image">
                            <img src="{{ item.image }}" alt="{{ item.title }}"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <a class="media-heading" href="{{ item.link }}">{{ item.title }}</a>
                        <div class="category">
                            {{ item.date | date( 'd F Y') }}
                            {% if item.category is defined %}
                                in <a href="{{ path( 'deepmikoto_app_' ~ item.category ) }}">{{ item.category | title }}</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endspaceless %}