{% spaceless %}
    <section data-active="yes" class="welcome">
        <div class="header">
            {% image '@DeepMikotoApiBundle/Resources/public/images/deepmikoto_logo_120.png' output='images/logo_w_120.png' %}
            <img src="{{ asset_url }}" alt="deepmikoto" title="Hi there!"/>
            {% endimage %}
        </div>
        <div class="scroll-indicator-container">
            <div class="scroll-indicator"></div>
        </div>
        <div class="slices-container">
            <div class="top-slice">
                <h1>Hi there</h1>
            </div>
            <div class="middle-slice">
                {#<video autoplay="" loop="" id="bgvid">
                    <source src="{{ asset('bundles/deepmikotoapi/videos/a_walk_in_time.mp4') }}" type="video/mp4">
                </video>#}
                <div class="video-overlay"></div>
                <div class="bottom-shadow"></div>
            </div>
            <div class="bottom-slice">
                <h4>You made it</h4>
                <p>
                    Since you're here, it's time to start exploring
                </p>
            </div>
        </div>
        <div class="section-content">
            <div class="container">


            </div>
        </div>
    </section>
    <section>
        <div class="section-content">
            <div class="container text-center">
                <a href="{{ path('deepmikoto_app_coding') }}" >coding</a>
            </div>
        </div>
    </section>
    <section>
        <div class="section-content text-center">
            <div class="container">
                <a href="{{ path('deepmikoto_app_gaming') }}" >gaming</a>
            </div>
        </div>
    </section>
    <section>
        <div class="section-content text-center">
            <div class="container">
                <a href="{{ path('deepmikoto_app_photography') }}" >photography</a>
            </div>
        </div>
    </section>
{% endspaceless %}