{% extends 'DeepMikotoAdminBundle:Parts:divided_layout.html.twig' %}
{% block sidebar %}
    {% include 'DeepMikotoAdminBundle:Parts:sidebars/photography_sidebar.html.twig' %}
{% endblock %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage | raw }}
        </div>
    {% endfor %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>image</th>
            <th>associated post</th>
            <th>date created</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% if photos|length == 0 %}
            <tr>
                <td colspan="4">
                    Nothing to show, <a href="{{ path('deepmikoto_admin_photography_new_post_photo') }}"><i class="glyphicon glyphicon-picture"></i> save new photo</a>
                </td>
            </tr>
        {% else %}
            {% for photo in photos %}
                <tr>
                    <td class="text-center"><img src="{{ ( 'images/photography/' ~ photo.id ~ '/' ~ photo.path ) | imagine_filter( 'tiny_thumb' ) }}" /></td>
                    <td>{{ photo.associatedPost }}</td>
                    <td>{{ photo.date | date( 'd F Y H:i:s' ) }}</td>
                    <td>
                        <a href="{{ path( 'deepmikoto_admin_photography_edit_post_photo', { 'id': photo.id } ) }}"><i class="glyphicon glyphicon-edit"></i> edit </a>
                        <a href="{{ path('deepmikoto_admin_delete_photography_photo', { 'id': photo.id} ) }}">
                            <i class="glyphicon glyphicon-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}