{% spaceless %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" id="toggle-collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('deepmikoto_app_homepage') }}" id="home">
                {% image '@DeepMikotoApiBundle/Resources/public/images/deepmikoto_logo_w.png' output='images/logo_w.png' %}
                    <img src="{{ asset_url }}" alt="deepmikoto" title="Hi there!"/>
                {% endimage %}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapsed">
            <ul class="nav navbar-nav">
                <li id="coding"><a href="{{ path('deepmikoto_app_coding') }}">Coding</a></li>
                <li id="gaming"><a href="{{ path('deepmikoto_app_gaming') }}">Gaming</a></li>
                <li id="photography"><a href="{{ path('deepmikoto_app_photography') }}">Photography</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div id="search-container" class="search-container loading">
                        <label>
                            <input type="text" placeholder="look for something ..." class="form-control search-field" id="search-field">
                        </label>
                        <span class="search-toggle" id="search-toggle">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                        <div id="results-area"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pulse"></div>
    </div>
</nav>
{% endspaceless %}