{% include 'DeepMikotoApiBundle:miscellaneous:source_signature.html.twig' %}
{% spaceless %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {% stylesheets
            'bundles/deepmikotoapi/css/*'
            'bundles/deepmikotoapi/scss/deepmikotoapi.scss'
            'bundles/deepmikotoapi/scss/media_queries/*'
            output='css/deepmikoto.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% image '@DeepMikotoApiBundle/Resources/public/images/deepmikoto_logo_16.png' output='images/favicon.png' %}
            <link rel="icon" type="image/png" href="{{ asset_url }}">
        {% endimage %}
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 maximum-scale=1, user-scalable=0">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
        {% block meta_title %}
            <title>{{ site_title }}</title>
        {% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    {#'@DeepMikotoApiBundle/Resources/public/js/vendor/createjs-2015.05.21.combined.js'#}
    <script type="text/javascript">var root = '{{ path('deepmikoto_app_homepage') }}';</script>
    {% javascripts
        '@DeepMikotoApiBundle/Resources/public/js/app.js'
        '@DeepMikotoApiBundle/Resources/public/js/vendor/jquery-3.0.0.min.js'
        '@DeepMikotoApiBundle/Resources/public/js/vendor/json2.js'
        '@DeepMikotoApiBundle/Resources/public/js/vendor/underscore.js'
        '@DeepMikotoApiBundle/Resources/public/js/vendor/backbone.js'
        '@DeepMikotoApiBundle/Resources/public/js/vendor/backbone.marionette.js'
        '@DeepMikotoApiBundle/Resources/public/js/vendor/js.cookie.js'
        '@DeepMikotoApiBundle/Resources/public/js/app/models/*'
        '@DeepMikotoApiBundle/Resources/public/js/app/collections/*'
        '@DeepMikotoApiBundle/Resources/public/js/app/views/*'
        '@DeepMikotoApiBundle/Resources/public/js/app/functions/*'
        '@DeepMikotoApiBundle/Resources/public/js/app/_router.js'
        '@DeepMikotoApiBundle/Resources/public/js/app/deepmikoto.js'
        output='js/deepmikoto.js' filter='yui_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    </body>
    </html>
{% endspaceless %}
