{% extends 'DeepMikotoApiBundle:App:meta_tags.html.twig' %}
{% block postInfo %}
    <h3 class="text-center">DEMO - {{ post.title }}<small> - <a href="{{ path('deepmikoto_app_coding_post',{'id': post.id, 'slug': post.slug}) }}">back to post</a></small></h3>
{% endblock %}
{% block style %}
{{ style|raw }}
{% endblock %}
{% block html %}
   {{ html|raw }}
{% endblock %}
{% block js %}
{{ js|raw }}
{% endblock %}