{% extends 'DeepMikotoApiBundle::layout.html.twig' %}
{% block meta %}
    <meta charset="utf-8" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 maximum-scale=1, user-scalable=0" />
    <title>{{ meta.title }}</title>
    <link rel="author" href="https://plus.google.com/117552068412499585385" />
    <meta name="author" content="deepmikoto" />
    <meta name="description" content="{{ meta.description }}" />
    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta property="og:url" content="{{ meta.url }}" />
    <meta property="og:site_name" content="deepmikoto.com">
    <meta property="fb:app_id" content="{{ fb_app_id }}" />
    <meta name="twitter:title" content="{{ meta.title }}" />
    <meta name="twitter:description" content="{{ meta.description|raw }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@deepmikoto">
    <meta name="twitter:image:alt" content="meta.title">
    <meta itemprop="name" content="{{ meta.title }}" />
    <meta itemprop="description" content="{{ meta.description }}" />
    {% if meta.image is not null %}
        <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ meta.image }}" />
        <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() ~ meta.image }}" />
        <meta itemprop="image" content="{{ app.request.getSchemeAndHttpHost() ~ meta.image }}" />
    {% else %}
        {% image output="images/share_image.png" %}
        <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}" />
        <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}" />
        <meta itemprop="image" content="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}" />
        {% endimage %}
    {% endif %}
{% endblock %}
