<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="googlebot" content="noindex,nofollow" />
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ ogurl }}" />
    <meta property="og:site_name" content="{{ website }}">
    <meta property="fb:app_id" content="{{ fb_app_id }}" />
    {% if image is not null %}
        <meta property="og:image" content="{{ image }}" />
    {% endif %}
</head>
<body>
    <h3 style="text-align: center">Redirecting to {{ website }} ...</h3>
    <script type="application/javascript">
        window.location = "{{ url }}";
    </script>
</body>
</html>