{% extends 'DeepMikotoAdminBundle:Parts:divided_layout.html.twig' %}
{% block sidebar %}
    {% include 'DeepMikotoAdminBundle:Parts:sidebars/coding_sidebar.html.twig' %}
{% endblock %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage | raw }}
        </div>
    {% endfor %}
    <div class="form-group">
        <span class="pull-right">
            <a href="{{ path('deepmikoto_admin_coding_add_category') }}">
                <i class="glyphicon glyphicon-save"></i> add category
            </a>
        </span>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>name</th>
            <th>image</th>
            <th>created</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% if categories|length == 0 %}
            <tr>
                <td colspan="4" class="text-center">
                    Nothing to show
                </td>
            </tr>
        {% else %}
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td class="text-left"><img src="{{ ( category.webPath ) | imagine_filter( '30_30' ) }}" /></td>
                    <td>{{ category.created | date( 'd F Y H:i:s' ) }}</td>
                    <td>
                        <a href="{{ path('deepmikoto_admin_coding_edit_category', { 'id': category.id }) }}">
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}